@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-sfpro-display: 'SF Pro Display', sans-serif;
}




@keyframes bubbleUpOdd {
  0% {
    width: 150px;
    height: 50px;
    bottom: 0;
    opacity: 0.5;
    transform: translateX(10%) rotate(0);
    transform: scale(0.4);
  }

  25% {
    transform: translateX(40%) rotate(0);
    transform: scale(0.6);
  }

  
  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.4;
  }

  55% {
    transform: translateX(60%) rotate(0);
    opacity: 0.1;
  }

  60% {
    opacity: 0;
  }


  75% {
    opacity: 0.1;
    transform: translateX(80%) rotate(0);
  }


  100% {
    width: 200px;
    height: 70px;
    bottom: 100%;
    opacity: 0;
    transform: translateX(200%) rotate(0);
  }
}

/* -------------------------------------------------------- */


@keyframes bubbleUpEven {
  0% {
    width: 150px;
    height: 50px;
    bottom: 0;
    opacity: 0.5;
    transform: translateX(0%) rotate(0);
    transform: scale(0.4);
  }


  25% {
    opacity: 0.2;
    transform: translateX(-40%) rotate(0);
    transform: scale(0.6);
  }


  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.4;
  }

  55% {
    opacity: 1;
    transform: translateX(-80%) rotate(0);
    opacity: 0.1;
  }

  60% {
    opacity: 0;
  }


  75% {
    transform: translateX(-100%) rotate(0);
  }

  100% {
    width: 200px;
    height: 70px;
    bottom: 100%;
    opacity: 0;
    transform: translateX(-120%) rotate(0);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  font-family: var(--font-sfpro-display);
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover--state:hover > .wrapper > button{
  display: flex;
}

::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}


.avatar:hover + .user_tooltip {
  display: block;
}

.user_tooltip{
  display: none;
  z-index: 99;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32));
}


.tooltip{
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: -1;
  border-top-right-radius: 10%;
  transform: rotate(-476deg) skewX(-43deg) scale(1.2, 1.5);
  bottom: 40px;
  left: 18px;
}

input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
  content: "";
  position: absolute;
  top: 50%;
  left:-7px; /* Adjust as needed */
  transform: translateY(-50%);
  width: 16px; 
  height: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; 
}

select::-webkit-calendar-picker-indicator {
  display: none; 
}

.background{
  background: linear-gradient(180deg, #707070 0%, #323232 96.74%), #FFF500;
}